@charset "UTF-8";
/*Resetando tudo*/
body {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	margin-top: 3em;
}

.localizador {
	flex-grow: 1;
	background-color: rgb(0, 100, 200, .8);
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-right: 5px;
	clear: both;
	padding-right: 5px;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

.localizador input {
	position: relative;
	width: 99%;
	height: 2em;
	border-radius: 0.2em;
	border-width: 1px;
	border-style: solid;
}

#content {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: stretch;
}

.usuario {
	text-align: center;
	flex-grow: 2;
	background-color: rgb(0, 100, 200, .5);
	padding: 1em;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
}

.usuario img {
	max-width: 150px;
	max-height: 150px;
	border-radius: 100px;
}

.listaDePostagens {
	flex-grow: 8;
	border-radius: 0.2em;
	background-color: rgb(255, 255, 255, .5);
}

.listaDePostagens>.postagem {
	display: flex;
	justify-content: space-around;
	flex-flow: row column;
	align-items: stretch;
	padding: 5px;
	border-radius: 0.2em;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
	margin: 5px;
}

.listaDePostagens>.postagem>details {
	flex-grow: 1;
	background-color: rgba(0, 100, 200, .5);
	border-radius: 0.2em;
	padding: 1em;
	max-width: 200px;
}

.listaDePostagens>.postagem>img {
	flex-grow: 4;
	border-radius: 0.2em;
	background-color: rgba(0, 100, 200, .5);
}